<header>
  <a href="#">
    <ion-icon name="arrow-round-back"></ion-icon>
  </a>
  <div class="username"></div>
  <a href="#" id="menu"><ion-icon name="grid"></ion-icon></a>
  <div class="modal modal-hidden">
    <a href="/0/home">Home</a>
    <a href="/0/contacts">Contacts</a>
    <a href="/0/search">Search</a>
  </div>
</header>