<%- include("header",{title: 'Decpy | Chat'}) %>
<main class="chat">
  <%- include("navbar") %>
  <h3 class="contact-title">Search</h3>
  <input type="text" id="search" placeholder="search">
  <section class="ul-container"></section>
</main>
<%- include("scripts") %>
<script src="../js/search.js"></script>
<%- include("footer") %>